.container {
  width: 100%;
}

.card {
  margin: 20px 0;
}

.card-list-title {
  background-color: #f7f7f9;
  font-weight: bold;
}

.article {
  padding: 30px;
}

.toc {
  position: sticky;
  top: 10px;
}
