{% extends 'base_3col.html' %}
{% load md2html %}
{% block title %}{{ current_tag }} | Articles{% endblock %}
{% block banner %}
  <h1 align="center">{{ current_tag }}</h1>
{% endblock %}
{% block content %}
  {% for article in article_list %}
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{ article.title }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">
        {% for tag in article.tags.all %}
          {% if tag == current_tag %}
            <a class="badge badge-success" href="{% url 'article:tag-article-list' tag.name %}">{{ tag.name }}</a>
          {% else %}
            <a class="badge badge-default" href="{% url 'article:tag-article-list' tag.name %}">{{ tag.name }}</a>
          {% endif %}
        {% endfor %}
        </h6>
        <p class="card-text">{{ article.summary|md2html }}</p>
        <a href="{% url 'article:article-detail' article.id %}" class="card-link">Detail</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ article.first_commit|date:'M j, Y' }} · {{ article.reading_time }} min read</small>
      </div>
    </div>
  {% empty %}
    <p>No articles here.</p>
  {% endfor %}
  {% include 'article/includes/pagintor.html' %}
{% endblock %}
{% block sidebar %}
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item card-list-title">Tag</li>
      <li class="list-group-item">
        <a href="{% url 'article:article-list' %}">
          All ({{ article_count }})
        </a>
      </li>
      {% for tag in tags %}
        {% if tag == current_tag %}
          <li class="list-group-item active">
            {{ tag.name }} ({{ tag.article_set.count }})
          </li>
        {% else %}
          <li class="list-group-item">
            <a href="{% url 'article:tag-article-list' tag.name %}">
              {{ tag.name }} ({{ tag.article_set.count }})
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% include 'article/includes/links.html' %}
{% endblock %}
