<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'articles:article-list' %}">INVZHI</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item{% if 'article' in request.path %} active{% endif %}">
        <a class="nav-link" href="{% url 'articles:article-list' %}">Articles</a>
      </li>
      <li class="nav-item{% if 'about' in request.path %} active{% endif %}">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'articles:search' %}" method="get">
      <input class="form-control mr-sm-2" type="text" name="q">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
